.gameBoard {
    width: 540px;
    height: 540px;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
}

.gameBoard .space {
    width: 179px;
    height: 179px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid red;
}

.gameBoard .space .cell {
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    box-sizing: border-box;
}